{
  "env":{
    "node":true,
  }
  ,"parser":"babel-eslint"
  ,"parserOptions":{
    "ecmaFeatures":{
      "impliedStrict":true
    }
    ,"sourceType":"module"
  }
  ,"rules":{
    "no-plusplus": 0,
    "no-console": 0,
    "import/first": 0,
    "no-param-reassign": 0,
    "global-require": 0,
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies":false
    }],
  }
  ,overrides: [
  {
    files: "test/**/*",
    "env":{
      "node":true,
      "mocha":true,
    },
    rules: {
      "import/no-extraneous-dependencies": ["error", {
        "devDependencies":true
      }],
      "func-names": "off",
      "prefer-arrow-callback": "off",
      "no-unused-expressions": "off",
      "no-global-assign": "off"
    }
  }]
  ,"extends":["airbnb-base"]
}
